<h1 mat-dialog-title>Agregar nuevo producto</h1>
<div mat-dialog-content>
    <form [formGroup]="formProduct">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput type="text" formControlName="codigo">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" (ngModelChange)="setearCodigo($event);">
                <mat-option *ngFor="let estado of listStatus" [value]="estado.idEstado">
                    {{estado.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button #tooltip="matTooltip" matTooltip="Cancelar" matTooltipPosition="above" mat-dialog-close class="btn tamano-button-icon"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
    <button #tooltip="matTooltip" matTooltip="Guardar" matTooltipPosition="above" (click)="isExistCodeProduct();" [disabled]="formProduct.invalid" class="btn color-rose tamano-button-icon" style="margin-left: 15px;"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
</div>