::ng-deep .mat-ink-bar{
    background-color: #d93954 !important;
}

.color-rose{
    background-color: #d93954 !important; color: white !important;
}

.tamano-button-icon{
    text-align: center !important;
    width: 32px !important;
    padding: 3px !important;
    height: 33px !important;
    align-items: center !important;
}

table{
    width: 100%;
}

.full-width{
    width: 100% !important;
}

.padding{
   padding: 12px;
}

.posicion-derecha{
    text-align: right !important;
}