<div class="padding">
    <div class="row">
        <div class="col-md-12 posicion-derecha">
            <mat-form-field class="full-width">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
              </mat-form-field>
        </div>
        <div class="col-md-12"> 
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Codigo Column -->
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef> Código producto </th>
                  <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container> 
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[13]"> </mat-paginator>
        </div>
    </div>
</div>