@import url("../../../assets/css/styleGeneral.css");

.mat-column-codigo{
    width: 50% !important;
    text-align: center !important;
}
.mat-column-name{
    width: 50% !important;
    text-align: center !important;   
} 