<div class="padding">
    <div class="row">
        <div class="col-md-12 color-rose m-0 p-0" style="height: 34px;  align-items: center; text-align: center; position: relative; display: grid; font-size: 21px;">
            Inventario
        </div>
        <div class="col-md-12">
            <mat-tab-group (selectedTabChange)="cargarData = $event.index;" style="width: 100%;">
                <mat-tab label="Administrador producto">
                    <app-producto-indefinidos *ngIf="cargarData == 0"></app-producto-indefinidos>
                </mat-tab>
                <mat-tab label="Productos optimos">
                    <app-producto-optimo *ngIf="cargarData == 1"></app-producto-optimo>
                </mat-tab>
                <mat-tab label="Productos defectuosos">
                    <app-producto-defectuoso *ngIf="cargarData == 2"></app-producto-defectuoso>
                </mat-tab>
                <mat-tab label="Productos vendidos">
                    <app-producto-vendido *ngIf="cargarData == 3"></app-producto-vendido>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>