@import url("../../../assets/css/styleGeneral.css");

.mat-column-codigo{
    width: 32% !important;
    text-align: center !important;
}
.mat-column-name{
    width: 32% !important;
    text-align: center !important;   
}
.mat-column-tipo{
    width: 32% !important;
    text-align: center !important;   
}

.mat-column-editar{
    width: 4% !important;
    text-align: center !important; 
}