<div class="padding">
    <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1"> 
            <button #tooltip="matTooltip" matTooltip="Agregar producto" matTooltipPosition="above" (click)="openModalAddProduct();" class="btn color-rose tamano-button-icon"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button> 
        </div>
        <div class="col-md-12 posicion-derecha">
            <mat-form-field class="full-width">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
              </mat-form-field>
        </div>
        <div class="col-md-12"> 
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Codigo Column -->
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef> Código producto </th>
                  <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Tipo estado Column -->
                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field  > 
                      <mat-select (selectionChange)="saveProductEdit(element, $event.value);">
                          <mat-option value="1">Defectuoso</mat-option>
                          <mat-option value="2">Optimo</mat-option>
                      </mat-select>
                  </mat-form-field> 
                  </td>
                </ng-container> 

                 <!-- editar Column -->
                 <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef>
                    <button #tooltip="matTooltip" matTooltip="Modificar estados producto" matTooltipPosition="above" [disabled]="listEditProduct.length == 0" (click)="editStatusProduct();" class="btn color-rose tamano-button-icon" ><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                  </th>
                  <td mat-cell *matCellDef="let element"> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[13]"> </mat-paginator>
        </div>
    </div>
</div>