<div class="padding">
    <div class="row">
        <div class="col-md-12 posicion-derecha">
            <mat-form-field class="full-width">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
              </mat-form-field>
        </div>
        <div class="col-md-12"> 
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Codigo Column -->
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef> Código producto </th>
                  <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- defectuoso Column -->
                <ng-container matColumnDef="vender">
                  <th mat-header-cell *matHeaderCellDef> Vender </th>
                  <td mat-cell *matCellDef="let element">  
                    <button (click)="venderProduct(element.codigo);" #tooltip="matTooltip" matTooltip="Vender producto" matTooltipPosition="above" class="btn color-rose tamano-button-icon"><i class="fa fa-money fa-lg" aria-hidden="true"></i></button> 
                  </td>
                </ng-container> 
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[13]"> </mat-paginator>
        </div>
    </div>
</div>