@import url("../../../assets/css/styleGeneral.css");

.mat-column-codigo{
    width: 47% !important;
    text-align: center !important;
}
.mat-column-name{
    width: 47% !important;
    text-align: center !important;   
}
.mat-column-vender{
    width: 6% !important;
    text-align: center !important;   
} 